/Exercicios Slides/SlideExercicioUm/nbproject/private/
/Exercicios Slides/SlideExercicioUm/build/
/Exercicios Slides/SlideExercicioUm/dist/
/Exercicios Slides/SlideExercicioDois/nbproject/private/
/Exercicios Slides/SlideExercicioDois/build/
/Exercicios Slides/SlideExercicioDois/dist/
/Exercicios Slides/SlideExercicioTres/nbproject/private/
/Exercicios Slides/SlideExercicioTres/build/
/Exercicios Slides/SlideExercicioTres/dist/
/Exercicios Slides/SlideExercicioQuatro/nbproject/private/
/Exercicios Slides/SlideExercicioQuatro/build/
/Exercicios Slides/SlideExercicioQuatro/dist/
/Exercicios Slides/SlideExercicioCinco/nbproject/private/
/Exercicios Slides/SlideExercicioCinco/build/
/Exercicios Slides/SlideExercicioCinco/dist/
/Exercicios Slides/SlideExercicioSeis/nbproject/private/
/Exercicios Slides/SlideExercicioSeis/build/
/Exercicios Slides/SlideExercicioSeis/dist/
/Exercicios Slides/SlideExercicioSete/nbproject/private/
/Exercicios Slides/SlideExercicioSete/build/
/Exercicios Slides/SlideExercicioSete/dist/
